/*------------------------------------
  GLOBAL
------------------------------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
hr {
border: none;
border-bottom: 2px solid  white;
border-top: 2px solid  rgb(14, 54, 214);

}
.Link, Link:visited{
  text-decoration: none;
  color:black;
}
/*------------------------------------
  APP LAYOUT
------------------------------------*/
.App {

  min-height: 100vh;

  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 90px auto 90px;
  grid-template-areas: 
  'h h'
  'l m'
  'f f';

}
.header {
  grid-area: h;

}
.list {
  grid-area: l;

  display:flex;
  flex-flow: column nowrap;
  align-content: space-between;
  justify-content: flex-start;

}
.main {
  grid-area: m;

  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding:5px 50px 0px 50px;

}

.footer{
  grid-area: f;

}
/*------------------------------------
  HEADER & FOOTER - BACKBAR
------------------------------------*/
.backbar{
  background-color: rgb(14, 54, 214);

  color: rgb(255, 255, 255);

  height:100%;
  font-size: 40px;
  padding: 0px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
.backbar__title{
  font-size: 50px;
  font-weight: 400;

}
.backbar__button{
  color: rgb(255, 255, 255);
  font-weight: 600;
  height:100%;

  display:flex;
  align-items: center;

}

.backbar__button:hover{
  transform: scale(1.1);
  transition: .2s linear;

}
/*------------------------------------
  MAIN - INTRO
------------------------------------*/
.main__intro{
  height:80vh;

}
.list__title{
  display: flex;
  justify-content: center;
  align-items: center;

  padding:30px 0px;

  font-size: 40px;
  font-weight: 500;
}
/*------------------------------------
  APP COMPONENT - CARD__USER
------------------------------------*/
.card__user {
  background-color:  rgb(255, 255, 255);

  border-bottom: 3px solid rgb(14, 54, 214);
  border-radius: 10px 0;
  margin: 10px 0;

  display:flex;
  flex-flow: row nowrap;

  transition: .2s ease-out;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  overflow: hidden;
}

.card__user__content {
  width:100%;
  padding:15px 20px;

}
.card__user__content__username{
  font-size: 18px;
  font-weight: 500;
}
.card__user__content__name{
  font-size: 12px;

}
.card__user__content__data{
  font-size: 9px;
  margin-top: 10px;
}
.card__user__id {
  background-color: rgb(14, 54, 214);
  color:  rgb(255, 255, 255);
  
  width:35px;
  font-size: 20px;

  display:flex;
  align-items: center;
  justify-content: center;
}

.card__user:hover{
  background-color: rgb(14, 54, 214);
  color:  rgb(255, 255, 255);

  transform: rotateZ(12deg) translateX(50px) scale(1.5);

}
/*------------------------------------
  APP COMPONENT - CARD__POST
------------------------------------*/
.card__post {
  background-color:  rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);

  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;


  display:flex;
  flex-flow: row nowrap;

  transition: .2s ease-out;
  overflow: hidden;
}

.card__post__id{
  font-size: 12px;
  background-color: rgb(14, 54, 214);
  color:  rgb(255, 255, 255);
  
  width:35px;
  font-size: 20px;

  display:flex;
  align-items: center;
  justify-content: center;
}
.card__post__content{
  width:100%;
  padding:20px 20px;
}
.card__post__content__title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom:10px;
}
.card__post__content__body {
  width:100%;
  margin-top:10px;


}

.card__post:hover{
  background-color: rgb(14, 54, 214);
  color:  rgb(255, 255, 255);

  transform: scale(1.1);

}
/*------------------------------------
  APP COMPONENT - LOADING
------------------------------------*/
.loading {

  width:88px;
  height:88px;

  position: absolute;
  top:45%;

  animation: spin 10s linear infinite;

}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(1080deg);
  }

}